.quarto-title-block .quarto-title-banner {
  /* background-image: url(images/SCL_logo.webp); */
  background-image: url(https://raw.githubusercontent.com/SocialChangeLab/assets/master/scl_logo.webp);
  background-size: 250px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}

